@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: white;
}

.os-animation{
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	padding:0;
	background-size: cover;
}

.home {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("resources/bg2.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.home .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.introduction {
	height: 100vh;

	margin: auto;
	background: url("resources/sakura.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.img-circle {
	border-radius:50%;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0%;
}

.content h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 500%;
	font-weight: 100;
	color: white;
	line-height: 100%;
	text-shadow: 0px 0px 7px black;
	display:inline;
}

.content h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 200%;
	font-weight: 100;
	color: white;
	line-height: 30%;
	text-shadow: 0px 0px 7px black;
}

.navbar {
	font-family: 'Agency FB', sans-serif;
	font-size: 200%;
	position: fixed;
	width: 100%;
	padding-top: 10px;
	top: 0;
	text-align: center;
	background-color:rgba(255,255,255,0.5);

}

.container-fluid {
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
	font-weight: 100;
	color: black;
	line-height: 150%;
}

.container-fluid h2{
	font-family: 'Raleway', sans-serif;
	font-size: 350%;
	font-weight: 100;
	color: black;
	line-height: 300%;
}

.navbar-nav{
	float:none;
	text-align: center;
	display: inline-block;
}

.navbar-nav li{
	display: inline-block;
	float:none;

}


.frontpara {
  background: rgba(0, 0, 0, 0.2);
  padding: 4em 1em;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}




/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}