@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: white;
}

.os-animation{
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	padding:0;
	background-size: cover;
}

.home {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("resources/bg2.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.home .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.introduction {
	height: 100vh;
	width: 100%;
	margin: auto;
	background: url("resources/bg3.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.resume {
	height: 100vh;
	width: 100%;
	margin: auto;
	background: url("resources/bg4.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.projects {
	height: 100vh;
	width: 100%;
	margin: auto;
	background: url("resources/bg5.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.contact {
	height: 10vh;
	width: 100%;
	margin: auto;
	background: url("resources/bg6.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.foot {
	padding-top: 1vh;
	width: 100%;
	margin: auto;
	background-color: black; 
	display: table;
	top: 0;
	background-size: cover;
}

.img-circle {
	border-radius:50%;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0%;
}

.content h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 500%;
	font-weight: 100;
	color: white;
	line-height: 100%;
	text-shadow: 0px 0px 7px black;
	display:inline;
}

.content h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 200%;
	font-weight: 100;
	color: white;
	line-height: 30%;
	text-shadow: 0px 0px 7px black;
}

.navbar {
	font-family: 'Agency FB', sans-serif;
	font-size: 200%;
	position: fixed;
	width: 100%;
	padding-top: 10px;
	top: 0;
	text-align: center;
	background-color:rgba(255,255,255,0.5);

}

.container-fluid {
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
	font-weight: 100;
	color: black;
	line-height: 150%;
}

.container-fluid h2{
	font-family: 'Raleway', sans-serif;
	font-size: 350%;
	font-weight: 100;
	color: black;
	line-height: 300%;
}

.navbar-nav{
	float:none;
	text-align: center;
	display: inline-block;
}

.navbar-nav li{
	display: inline-block;
	float:none;

}


.frontpara {
  background: rgba(0, 0, 0, 0.2);
  padding: 4em 1em;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius:20px;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size: 250%;
	font-weight: 100;
	color: black;
	line-height: 100%;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

.btn-block {
    padding: 5% 0; 
    text-align: center;
}

.container-fluid button {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

.contact ul {
	display: flex;
	text-align: center;
	top: 50%;
	position: absolute;
	left: 50%;
	transform:translate(-50%, -50%);
}

.contact ul li {
	background: #000;
	margin: 10px;
	list-style: none;
	font-size: 24px;
	transition: .5s;
}

.contact ul li a{
	width:60px;
	padding: 16px 0;
	display: block;
	color: #fff;
}

.contact ul li:hover {
	transform: translateY(-8px);
	box-shadow:0 10px 10px rgba(0,0,0,.5);
}

.caption-style-4{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.caption-style-4 {
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-4:hover .caption{
		opacity: 1;
	}

	.caption-style-4:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}


	.caption-style-4 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}


	.caption-style-4 .caption{
		cursor: pointer;
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.caption-style-4 .blur{
		background-color: rgba(42, 55, 71, 0.9);
	/*	background-color: rgba(49, 115, 144, 0.9);*/
		height: 100%;
		width: 100%;
		z-index: 5;
		position: absolute;
	}

	.caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 24px;
	}

	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 35%;
	}



/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}