@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: white;
}

.os-animation{
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	padding:0;
	background-size: cover;
}

.home {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("resources/bg2.jpg") no-repeat 25% 25%; 
	display: table;
	top: 0;
	background-size: cover;
}

.home .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.introduction {
	background: url("resources/bg3.jpg") no-repeat 25% 25%; 
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	background-size: cover;
	padding-bottom: 10%;
}

.skills {
	background: url("resources/bg4.jpg") no-repeat 25% 25%; 
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	background-size: cover;
	padding-bottom: 10%;
}

.btn btn-primary {
	font-size: 5;
}

.projects {
	background: url("resources/bg5.jpg") no-repeat 25% 25%; 
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	background-size: cover;
	padding-bottom: 10%;
}

.contact {
	height: 10vh;
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	background-size: cover;
}

.foot {
	padding-top: 1vh;
	width: 100%;
	margin: auto;
	background-color: black; 
	display: table;
	top: 0;
	background-size: cover;
}

.img-circle {
	border-radius:50%;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0%;
}

.content h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 700%;
	font-weight: 100;
	color: white;
	line-height: 100%;
	text-shadow: 0px 0px 7px black;
	display:inline;
	padding-bottom: 2%;
}

.content h3 {
	font-family: 'Dosis', sans-serif;
	font-size: 200%;
	font-weight: 100;
	color: white;
	line-height: 30%;
	text-shadow: 0px 0px 7px black;
}

.navbar {
	font-family: 'Dosis', sans-serif;
	font-style: bold;
	font-size: 175%;
	position: fixed;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	top: 0;
	text-align: center;
	background-color:rgba(255,255,255,0.3);

}

.container-fluid {
	font-family: 'Dosis', sans-serif;
	font-size: 175%;
	font-weight: 100;
	color: black;
	line-height: 150%;
}

.container-fluid h2{
	font-family: 'Dosis', sans-serif;
	font-size: 350%;
	font-weight: 100;
	color: black;
	line-height: 300%;
}

.navbar-nav{
	text-align: center;
	display: inline-block;
	float:none;
}

.navbar-nav li{
	display: inline-block;
	float:none;

}


.frontpara {
  background: rgba(0, 0, 0, 0.2);
  padding: 4em 1em;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.btn {
    padding: 14px 24px;
    border: 0 none;

    letter-spacing: 1px;
    border-radius:20px;
    text-align:center;
    font-family: 'Consolas', sans-serif;
    font-size: 100%;
	font-weight: 100;
	color: black;
	line-height: 100%;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}



.btn-block {
    padding: 5% 0; 
    text-align: center;
}

.container-fluid button {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

.projects ul {
	display: flex;
	text-align: center;
	top: 80%;
	position: absolute;
	left: 50%;
	transform:translate(-50%, 150%);
}

.projects ul li {
	background: #23a10f;
	margin: 10px;
	list-style: none;
	font-size: 20px;
	transition: .5s;
}

.projects ul li a{
	width:60px;
	padding: 16px 0;
	display: block;
	color: #fff;
}

.projects ul li:hover {
	transform: translateY(-8px);
	box-shadow:0 10px 10px rgba(0,0,0,.5);
}

.caption-style-4{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.caption-style-4 {
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-4:hover .caption{
		opacity: 1;
	}

	.caption-style-4:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}


	.caption-style-4 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}


	.caption-style-4 .caption{
		cursor: pointer;
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.caption-style-4 .blur{
		background-color: rgba(42, 55, 71, 0.9);
	/*	background-color: rgba(49, 115, 144, 0.9);*/
		height: 100%;
		width: 100%;
		z-index: 5;
		position: absolute;
	}

	.caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 24px;
	}

	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 35%;
	}



/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}